.admin_nav {
  height: 5em;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.616);
  z-index: 3000;
  .icon_search {
    display: none;
    cursor: pointer;
  }
  @media screen and(max-width:820px) {
    flex-direction: row;
    height: max-content;
    .icon_search {
      display: flex;
    }
  }

  .logo {
    flex: 0.2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 0px 1em;
    img {
      width: 4em;
      height: 4em;
    }
  }
  .search_box {
    width: 100%;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    position: relative;
    flex: 0.5;
    input {
      &::placeholder {
        color: black;
        font-weight: 400;
        letter-spacing: 1px;
      }
      font-size: 14px;
      width: 100%;
      height: 100%;
      padding: 0px 1.5em;
      background-color: rgb(246, 248, 250);
      border: none;
      outline: none;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
        0 2px 2px rgba(141, 140, 140, 0.15), 0 4px 4px rgba(109, 108, 108, 0.15),
        0 8px 8px rgba(156, 156, 156, 0.15);
    }
    .icon_input_search {
      position: absolute;
      right: 1%;
    }
    @media screen and(max-width:820px) {
      display: none;
    }
  }
  .admin_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: max-content;
    flex: 0.2;
    width: 100%;
    .avatar_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      .profile_menu {
        position: absolute;
        top: 110%;
        right: 1%;
        background-color: white;
        border-radius: 3px;
        border: 1px solid rgb(246, 248, 250);
        z-index: 100;
        min-width: 18em;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
          0 2px 2px rgba(141, 140, 140, 0.15),
          0 4px 4px rgba(109, 108, 108, 0.15),
          0 8px 8px rgba(156, 156, 156, 0.15);
        display: flex;
        flex-direction: column;

        .profile_menu_header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px 0px 1em 0px;
          border-bottom: 2.5px solid rgba(221, 221, 221, 0.692);

          img {
            width: 5em;
            height: 5em;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
              0 2px 2px rgba(201, 201, 201, 0.15),
              0 4px 4px rgba(155, 155, 155, 0.15),
              0 8px 8px rgba(207, 207, 207, 0.15);
          }
          .name {
            width: 100%;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
          }
        }
        .profile_menu__wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-top: 10px;

          .profile_menu__wrapper__item {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 2.8em;
            margin-bottom: 2px;
            padding: 0.5em 1em;
            cursor: pointer;
            transition: 0.2 ease-in-out;
            font-size: 14px;
            &:hover {
              background-color: rgb(246, 248, 250);
            }
            svg {
              margin-right: 0.5em;
            }
          }
        }
      }
    }
    .icons_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .icon_box_item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon_counter {
          position: absolute;
          background-color: #ede734;
          height: 1em;
          width: max-content;
          padding: 0.2em;
          display: flex;
          flex-direction: row;
          align-items: center;
          top: -10%;
          right: 0;
          border-radius: 30em;
          color: black;
          font-size: 13px;
          font-weight: bold;
        }
        margin: 0px 10px;
        cursor: pointer;
      }
    }
    @media screen and(max-width:820px) {
      display: none;
    }
    .admin_name {
      padding: 0px 10px;
      font-size: 15px;
      font-weight: 600;
    }
    img {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
        0 2px 2px rgba(201, 201, 201, 0.15), 0 4px 4px rgba(155, 155, 155, 0.15),
        0 8px 8px rgba(207, 207, 207, 0.15);
    }
  }
}
.admin__main__container {
  margin-left: 18em;
  margin-top: 5em;
  padding: 1em;
  background-color: rgb(246, 248, 250);
  min-height: calc(100vh - 5em);
}
.side__bar_admin {
  width: 18em;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 5em;
  border-right: 0.2px solid rgba(211, 211, 211, 0.616);
  @media screen and(max-width:820px) {
    display: none;
  }
  .side__bar_admin_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0px;
    background-color: #ede734;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
      0 2px 2px rgba(201, 201, 201, 0.15), 0 4px 4px rgba(155, 155, 155, 0.15),
      0 8px 8px rgba(207, 207, 207, 0.15);
    .avatar_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .admin_name {
        width: 100%;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
      }
      img {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
          0 2px 2px rgba(201, 201, 201, 0.15),
          0 4px 4px rgba(155, 155, 155, 0.15),
          0 8px 8px rgba(207, 207, 207, 0.15);
      }
    }
  }

  .side__bar_admin_body {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    .navigation_dashbord {
      display: flex;
      flex-direction: column;
      .navgation_dashbord_item_active {
        background-color: #fff700;
        font-weight: 700;
        border-right: 0.2em solid rgb(0, 0, 0);
      }
      .navigation_dashbord_item {
        transition: 0.2s ease-in-out;
        color: black;
        text-decoration: none;
        &:hover {
          background-color: #ede734;
          .navigation_dashbord_Text {
            transform: translateX(20px);
            font-weight: 700;
          }
        }
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em 1.5em;
        width: 100%;
        border-bottom: 0.2px solid rgba(211, 211, 211, 0.616);

        .navigation_dashbord_Text {
          transition: 0.2s ease-in-out;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 14px;
        }
        svg {
          margin-right: 10px;
        }
      }
    }
  }
  .side__bar_admin_footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .footer_text {
      width: 100%;
      padding: 1.5em;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.side__bar__mobile {
  display: none;
  @media screen and(max-width:820px) {
    display: flex;
    flex-direction: column;
    width: 100%;

    .admin_info {
      padding: 1em 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: max-content;
      .admin_name {
        margin-top: 10px;
        padding: 0px 10px;
        font-size: 15px;
        font-weight: 600;
        width: max-content;
        font-weight: 18px;
      }
      img {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
.admin__dash__container {
  background-color: white;
  min-height: calc(100vh - 7em);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loading__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh -7em);
  width: 100%;
  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    .sk-cube {
      width: 33%;
      height: 33%;
      background-color: #333;
      float: left;
      -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
      animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    .sk-cube1 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .sk-cube2 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .sk-cube3 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    .sk-cube4 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .sk-cube5 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .sk-cube6 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .sk-cube7 {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    .sk-cube8 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .sk-cube9 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }

    @-webkit-keyframes sk-cubeGridScaleDelay {
      0%,
      70%,
      100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
      }
      35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
    }

    @keyframes sk-cubeGridScaleDelay {
      0%,
      70%,
      100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
      }
      35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
    }
  }
}
.products_table_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5em;
  background-color: rgb(246, 248, 250);
  padding: 0.8em;
  justify-content: space-between;
  h5 {
    font-size: 25px;
    text-transform: uppercase;
  }
  .btn_add_products {
    min-width: max-content;
    padding: 0.5em 1em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: #ede734;
    transition: 0.1s ease-in;
    font-weight: 400;
    cursor: pointer;
    svg {
      margin: 0px 5px;
    }
    &:hover {
      background-color: #ccc72a;
    }
  }
}
.products_table_footer {
  height: 5em;
  width: 100%;
}
.products_table_body {
  position: relative;
  .table__wrapper {
    width: 100%;
    max-height: 35em;
    overflow-y: scroll;
    position: relative;

    .table {
      width: 100%;
      max-height: 40em;
      border-collapse: collapse;

      .border_bottom {
        height: 2.5em;
        border-bottom: 1px solid rgb(246, 248, 250);
        th,
        td {
          padding: 0px 0.3em;
          text-align: center;
        }
      }
    }
  }
}

.admin__add__product__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  position: sticky;
  top: 5em;
  .admin__add__product__wrapper_form {
    min-height: 42.5em;
    flex: 4;
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    .inputs_group {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      row-gap: 10px;
    }
    .box_input_form {
      display: flex;
      flex-direction: column;

      label {
        width: auto;
        text-transform: capitalize;
        font-weight: 500;
      }
      input {
        flex: 3;
        width: auto;
        min-height: 2.2em;
        padding: 0.3em 1em;
        border: 1px solid silver;
        border-radius: 3px;
        border-radius: 3px;
      }
      select {
        width: auto;
        min-height: 2.2em;
        padding: 0.3em 1em;
        border: 1px solid silver;
        border-radius: 3px;
        border-radius: 3px;
      }
      textarea {
        width: 100%;
        min-height: 14.5em;
        padding: 0.3em 1em;
        border: 1px solid silver;
        border-radius: 3px;
        border-radius: 3px;
        resize: vertical;
      }
    }
  }
  .admin__add__product__wrapper__preview {
    flex: 2;
    display: flex;
    flex-direction: column;
    min-height: 42.5em;
    .btn_add___product {
      margin-top: auto !important;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      span {
        margin-right: 0.5em;
      }
      cursor: pointer;
      background: black;
      color: white;
      fill: white;
      padding: 0.5em 2em;

      transition: 0.1s;
      border: none;
      &:active {
        color: rgb(184, 179, 179);
        transform: translate(3px, 3px);
      }
    }

    .media__preview {
      display: flex;
      flex-direction: column;
      width: 100%;
      .media__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        .media_name {
          width: 100%;
          font-size: 18px;
          text-align: center;
        }
        .main_media {
          position: relative;
          overflow: hidden;

          .add_media_top_slide {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.582);
            transform: translateY(calc(-100%));
            cursor: pointer;
            transition: 0.2s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          &:hover {
            .add_media_top_slide {
              transform: translateY(0px);
            }
          }
          width: 100%;
          display: flex;
          flex-direction: column;
          .sk-cube-grid {
            width: 40px;
            height: 40px;
            margin: 100px auto;
            .sk-cube {
              width: 33%;
              height: 33%;

              background-color: #333;
              float: left;
              -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
              animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            }
            .sk-cube1 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            .sk-cube2 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            .sk-cube3 {
              -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
            }
            .sk-cube4 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            .sk-cube5 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }
            .sk-cube6 {
              -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
            }
            .sk-cube7 {
              -webkit-animation-delay: 0s;
              animation-delay: 0s;
            }
            .sk-cube8 {
              -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
            }
            .sk-cube9 {
              -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
            }

            @-webkit-keyframes sk-cubeGridScaleDelay {
              0%,
              70%,
              100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
              }
              35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
              }
            }

            @keyframes sk-cubeGridScaleDelay {
              0%,
              70%,
              100% {
                -webkit-transform: scale3D(1, 1, 1);
                transform: scale3D(1, 1, 1);
              }
              35% {
                -webkit-transform: scale3D(0, 0, 1);
                transform: scale3D(0, 0, 1);
              }
            }
          }
          img,
          video {
            width: 100%;
          }
        }
        .media_slider {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          gap: 15px;
          align-items: center;
          padding: 1em 0px;
          flex-wrap: wrap;

          .image_product_in_slide, .video_icon {
            transition: 0.2s ease-in-out;
            cursor: pointer;
            &:hover {
              transform: scale(1.2);
              border: 1px solid black;
            }
          }
          .loader_media {
            background-color: white;
          }
          img,
          .video_icon {
            width: 4em;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }
  }
}

.color__selector__wrapper {
  display: flex;
  flex-direction: column;

  .search_input_color {
    width: 100%;
    min-height: 2em;
    padding: 0.5em;
    border: 1px solid silver;
    border-radius: 3px;
    margin-bottom: 5px;
  }

  .color__selector {
    position: relative;
    width: 20em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    border: 1px solid silver;
    border-radius: 3px;
    width: 100%;
    min-height: 2em;
    margin: auto auto;
    cursor: pointer;

    .color {
      height: 2em;
      width: 2em;
      margin-right: 0.5em;
      border-radius: 50%;
    }
  }

  .color_selector_palette {
    position: absolute;
    top: 110%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    min-height: 10em;
    max-height: 15em;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    z-index: 100;
    .color_selector_palette__item {
      display: flex;

      flex-direction: row;
      align-items: center;
      margin-bottom: 5px;
      padding: 0.2em 0.5em;
      &:hover {
        background-color: rgb(246, 248, 250);
      }
      .color {
        height: 2em;
        width: 2em;
        margin-right: 0.5em;
      }
    }
  }
  .color_tags {
    min-height: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    padding: 5px 0 5px 0;
    .color_tag {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding: 0.3em;
      border: 1px solid silver;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      &:hover {
        .delete_color {
          transform: translateX(0%);
        }
      }
      .delete_color {
        cursor: pointer;
        width: 100%;
        height: 100%;
        transition: 0.2s ease-in-out;
        transform: translateX(-100%);
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 10%;
        svg {
          margin-right: 10%;
        }
      }
      span {
        font-size: 11px !important;
        font-weight: bold;
      }
      .color {
        height: 2em;
        width: 2em;
        margin-right: 0.5em;
        border-radius: 50%;
      }
    }
  }
}
.order_wrapper {
  display: flex;
  flex-direction: column;
  .order_wrapper_header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .order_wrapper_body {
    display: flex;
    flex-direction: column;

    table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      .product_row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        img {
          width: 5em;
          height: 5em;
          object-fit: contain;
          object-position: center;
        }
        .product_informations {
          display: flex;
          flex-direction: row;
          padding: 0em 1em;

          .name {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            padding: 0px 0.5em;
            .placeHolder {
              margin-bottom: auto;
            }
            .value {
              font-size: 12px;
            }
          }
          .options {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0px 0.5em;
            .placeHolder {
              margin-bottom: auto;
            }
            .value {
              font-size: 12px;
            }
          }
        }
      }

      .status {
        text-transform: uppercase;
        color: green;
        font-weight: bold;
      }

      td {
        font-size: 13px;
        text-align: center;
      }
      th {
        text-transform: uppercase;
      }
      tr {
        height: 4em;
      }

      tbody {
        tr {
          transition: 0.1s ease-in-out;
          cursor: pointer;
          &:hover {
            background: rgb(246, 248, 250);
          }
          height: 4em;
        }
      }
    }
  }
}
