$black: black;
$yellow: #ede734;
$yellowHover: black;
$blackText: black;
$redAlert: rgb(231, 25, 25);
$boderBottom: 1px solid rgba(211, 211, 211, 0.616);
$whiteBackground: rgb(246, 248, 250);
$boxShadowBlack: 0 1px 1px rgba(0, 0, 0, 0.15),
  0 2px 2px rgba(141, 140, 140, 0.15), 0 4px 4px rgba(109, 108, 108, 0.15),
  0 8px 8px rgba(156, 156, 156, 0.15);

$boxShadowImageBlack: 0 1px 1px rgba(0, 0, 0, 0.15),
  0 2px 2px rgba(201, 201, 201, 0.15), 0 4px 4px rgba(155, 155, 155, 0.15),
  0 8px 8px rgba(207, 207, 207, 0.15);

$black: #000000;
$backgroundColor: white; 


$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop
